{% extends 'payapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Register Admin
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <!-- Register an admin, only if current user is an admin -->
            <h1>Register Admin</h1>
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ register_form|crispy }}
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        {% else %}
            <p>
                Admin access only
            </p>
        {% endif %}
    {% else %}
        <p>
            Please login to access this page
        </p>
    {% endif %}
{% endblock %}
